body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

#banner{
    background-color: rgb(205,92,92);
    color: white;
    text-align: center;
    padding: 5px;
}

#left{
    background-color: rgb(250,235,215);
    width: 25%;
    height: 500px;
    float: left;
}

#middle{
    background-color: rgb(250,235,215);
    width: 50%;
    height: 500px;
    float: left;
}

#right{
    background-color: rgb(250,235,215);
    width: 25%;
    height: 500px;
    float: left;
}

#data{
    background-color: rgb(210,180,140);
    color: white;
    clear: both;
}

#footer{
    background-color: rgb(205,92,92);
    color: white;
    text-align: center;
    padding: 5px;
}

h2{
    text-align: center
}

h2:first-letter{
    font-size: 150%;
}

img{
    margin-left: 50px;
    height: 100px;
    width: 200px;
    padding: 7px;
    transition: 0.5s;
}

img:hover{
    background-color: rgb(210,180,140);
}