body{
    font-family: Arial, Helvetica, sans-serif;
}
#banner{
    background-color: rgb(220,220,220);
    padding: 20px;
    text-align: center;
}
#left{
    background-color: rgb(255,127,80);
    color: white;
    width: 50%;
    height: 410px;
    float: left;
}
#right{
    background-color: rgb(255,127,80);
    color: white;
    width: 50%;
    height: 410px;
    float: left;
}
#main{
    clear: both;
    background-color: rgb(220,220,220);
    padding: 20px;
    text-align: center;
}
#footer_left{
    background-color: rgb(255,127,80);
    color: white;
    width: 50%;
    height: 100px;
    float: left;
}
#footer_right{
    background-color: rgb(255,127,80);
    color: white;
    width: 50%;
    height: 100px;
    float: left;
}
table, td{
    border: 1px solid rgb(255,127,80);
    padding: 10px;
    text-align: center;
}
a{
    color: white;
}