body{
    font-family: Arial, Helvetica, sans-serif;
}

#banner{
    background-color: #AF4448;
    color: white;
    text-align: center;
    height: 20px;
}

#left{
    background-color: #FFA4A2;
    height: 650px;
    width: 50%;
    float: left;
}

#right{
    background-color: #FFA4A2;
    height: 650px;
    width: 50%;
    float: left;
}

#footer{
    clear: both;
    background-color: #AF4448;
    color: white;
    text-align: center;
    height: 20px;
}

.btn-id{
    background-color: #AF4448;
    color: white;
    padding: 5px;
    margin: 10px;
}