#banner{
 background-color: #62afff;
 height: 80px;
 font-size: 120%;
 text-align: center;
}

#left{
    float: left;
    background-color: #44D6E8;
    height: 450px;
    width: 30%;
    font-size: 120%;
}

#middle{
    float: left;
    height: 450px;
    width: 40%;
    text-align: center;
}

#right{
    float: left;
    background-color: #44D6E8;
    height: 450px;
    width: 30%;
    font-size: 120%;
    text-align: center;
}

#footer{
    clear: both;
    background-color: #62AFFF;
    height: 50px;
    text-align: center;
}
table{
    margin-left: 50px;
    border-collapse: collapse;
}
td{
    border: 1px solid yellow;
    padding: 20px;
    text-align: center;
    font-size: 120%;
}

td:hover{
    color: yellow;
}

img, h3{
    margin-top: 100px;
}

img{
    float: left;
}

input{
    margin-top: 10px;
}