body{
    background-color: #F6E5DC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#banner{
    background-color: #2F180C;
    text-align: center;
    color: khaki;
    height: 60px;
}

#left{
    width: 60%;
    float: left;
}

#right{
    font-size: 150%;
    padding: 70px;
    float: left;
}

#bottom{
    clear: both;
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
}

#footer{
    background-color: #2F180C;
    color: khaki;
    height: 60px;
}

img{
    height: 350px;
}

.btn{
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}